@using DAL.Entitys
@model List<Article>

<table lay-filter="articles" id="articles-table">
    <thead>

        <tr>
            <th lay-data="{type: 'checkbox', fixed: 'left'}"></th>
            <th lay-data="{field:'number'}">序号</th>
            <th lay-data="{field:'title'}">标题</th>
            <th lay-data="{field:'author'}">作者</th>
            <th lay-data="{field:'source'}">来源</th>
            <th lay-data="{field:'id',hide:true}">id</th>
        </tr>

    </thead>
    <tbody>

        @{
            int number = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td></td>
                    <td>@number</td>
                    <td>@item.title</td>
                    <td>@item.author</td>
                    <td>@item.source</td>
                    <td>@item.id</td>
                </tr>
                number++;

            }
        }



    </tbody>
</table>
<input type="hidden" name="_id" value="" />
<input type="hidden" name="_title" value="" />
<input type="hidden" name="_author" value="" />

<script>
    var _id = $("#articles-table").siblings("input[name=_id]:hidden");
    var _title = $("#articles-table").siblings("input[name=_title]:hidden");
    var _author = $("#articles-table").siblings("input[name=_author]:hidden");



    var table = layui.table;
    table.init('articles', {
        limit: @Model.Count,
        width: 500
    });
    table.on('checkbox(articles)', function (obj) {
        if (obj.type == 'all') return layer.msg("只能选择一个", { icon: 2 });
        if (obj.checked) {
            _id.val(obj.data.id);
            _title.val(obj.data.title);
            _author.val(obj.data.author);
        } else {
            _id.val("");
            _title.val("");
            _author.val("");
        }

    })
</script>