@using DAL.ViewModels
@model ArticleInfoModel
@{
    ViewData["Title"] = "文章详情";
}
<link rel="stylesheet" href="~/public/Home/css/index_Article.css" />
<link rel="stylesheet" href="~/public/Home/css/index_Article_meta.css" />



<div class="container-fluid main11 row">
    <div class="leftac col-9" style="padding:0;">
    <main class="news_list_detail_met_16_3 col-12">
        <div class="container">
            <div class="row">
                <div class="col-md-9 met-shownews-body pright" m-id="29" style="flex: 0 0 100%;
    max-width: 90%;">
                    <div class="row ore">
                        <div class="met-shownews-content col-12">
                            <section class="details-title border-bottom1">
                                <h1 class="m-t-10 m-b-5">@Model.title</h1>
                                <div class="info font-weight-300">
                                    <span>@Model.createTime</span>
                                    <span>来源：@Model.source</span>
                                    <span>编辑：@Model.author</span>
                                    <span>
                                        <i class="fa fa-mouse-pointer" aria-hidden="true"></i>
                                        0
                                    </span>
                                </div>
                            </section>
                            <section class="met-editor clearfix" style="font-size: 14px !important;">
                                @{
                                    foreach (var item in Model.ArticleConTents)
                                    {
                                        var imgtit = "";
                                        <p style="text-indent: 2em;">@item.articleText</p>
                                        <p style="text-align:center;">

                                            @foreach (var imgs in item.ArticleImage)
                                            {
                                                <img src="http://120.78.198.92/@imgs.url" style="width: 200px; padding-left:10px; display: inline-block;" alt="@imgs.title">
                                                if (!string.IsNullOrEmpty(imgs.title))
                                                {
                                                    imgtit = imgs.title;

                                                }
                                            }
                                            <br />
                                            <span style="text-indent:2em;font-weight:600;text-align:center;">@imgtit</span>
                                        </p>
                                    }
                                }

                                @{
                                    foreach (var subheadings in Model.Subheadings)
                                    {
                                        <h5 class="text-center">@subheadings.head</h5>
                                        @foreach (var item in subheadings.ArticleConTents)
                                        {
                                            var imgtit = "";
                                            <p style="text-indent: 2em;">@item.articleText</p>
                                            <p style="text-align:center;">

                                                @foreach (var imgs in item.ArticleImage)
                                                {
                                                    <img src="http://120.78.198.92/@imgs.url" style="width: 200px; padding-left:10px; display: inline-block;" alt="@imgs.title">
                                                    imgtit = imgs.title;
                                                }
                                                <br />
                                                <span style="text-indent:2em;font-weight:600;text-align:center;">@imgtit</span>
                                            </p>
                                        }
                                    }
                                }


                            </section>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </main>
        </div>
    <div class="rightac col-3" style="padding:0;">

    </div>

</div>
@section Scripts{ 
    <script>
    //加载推荐内容
    function loadOrtherAc() {
        $.post("/Home/GetModel", { id: 11 }, function (result) {
            var margintop = ``;
            for (var i = 0; i < result.length; i++) {
                if (i >= 4) {
                    continue;
                }
                if (i == 0) {
                    margintop = "margin-top:11%;";
                } else {
                    margintop = "";
                }
                var li = ``;
                for (var j = 0; j < result[i].Articles.length; j++) {
                    if (j > 4) {
                        continue;
                    }
                    li += `<li class="article-item">
                            <a href="/Home/SelectArticle?id=`+ result[i].Articles[j].id +`" target="_blank" class="news-link">
                                <div class="module-pic news-pic">
                                    <img src="http://120.78.198.92`+ result[i].Articles[j].imgurl +`" lazy="loaded">
                                </div>
                                <div class="news-inner">
                                    <p class="module-title">`+ result[i].Articles[j].title +`</p>
                                </div>
                            </a>
                        </li>`;
                }

                var htmlstr = `<main style="float: left; ` + margintop + `" class="main1">
        <div class="news-struct bui-box">
            <div id="hotNewsWrap" class="bui-box">
                <div class="pane-module">
                    <div class="module-head">`+ result[i].name + `</div>
                    <ul ga_event="click_hot_news" class="module-content article-list">
                        `+ li + `
                    </ul>
                </div>
            </div>
        </div>
    </main>`;
                $(".rightac").append(htmlstr);
            }
        })
    }

    $(function () {
        loadOrtherAc();
    })
</script>
}
